/* Core Layout */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
    background-color: #000b1a; /* Dark night sky */
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
/* Navigation bar */

.navbar {
   background-color: navy;
   list-style-type: none;
   margin: 0; 
   padding: 20;
   display: flex;
   position: relative;
   justify-content: space-evenly;
   text-align: center;
   gap: 2rem;
   position: fixed;
   top: 5;
   width: 100%;
   z-index: 2000;

}
.navbar > li > a {
       color: white;
}

.button {
    background-color: black;
}

.city-stop {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.glass-card {
    background: rgba(255, 255, 255, 0.15); /* White tint */
    backdrop-filter: blur(12px);          /* The magic blur */
    -webkit-backdrop-filter: blur(12px);   /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2.5rem;
    border-radius: 20px;
    color: white;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Specific City Backgrounds */
#london { 
    background-image: url('assets/background-images/london-bg.webp'); 
}
#paris { 
    background-image: url('assets/background-images/paris-bg.webp'); 
}
#tokyo { 
    background-image: url('assets/background-images/tokyo-bg.webp'); 
}
#newyork { 
    background-image: url('assets/background-images/newyork-bg.webp'); 
}

#sleigh {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    z-index: 1000; /* Keeps it above everything */
    pointer-events: none; /* Allows clicking "through" the sleigh to buttons below */
}
