/* Core Layout */
body {
    margin: 0;
    padding: 64;
    font-family: sans-serif;
    color: white;
    background-color: #000b1a; /* Dark night sky */
}

.scroll-container {
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-margin-top: 2em;
    
}
/* Navigation bar */

#main-nav {
    top: 0%;
    list-style-type: none;
    position: fixed;
    overflow: hidden;
    margin-top: 0px;
    left: 0;
    width: 100%;
    height: 64px; /* Give it a set height */
    z-index: 1000; /* Ensure it's the highest thing on the page */
    background: rgba(12, 45, 92, 0.8); /* Match your body color with transparency */
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li > a {
    color: white;
}

li > a:hover {

    color: white;
    animation: glow 1s ease-in-out infinite alternate;
}

.hero{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.timebox{
    display: flex;
    gap: 90px;
}

.time{
    text-align: center;
}

.city-stop {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.glass-card {
    background: rgba(255, 255, 255, 0.15); /* White tint */
    backdrop-filter: blur(12px);          /* The magic blur */
    -webkit-backdrop-filter: blur(12px);   /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2.5rem;
    border-radius: 20px;
    color: white;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Specific City Backgrounds */
#london { 
    background-image: url('assets/background-images/london-bg.webp'); 
}
#paris { 
    background-image: url('assets/background-images/paris-bg.webp'); 
}
#tokyo { 
    background-image: url('assets/background-images/tokyo-bg.webp'); 
}
#newyork { 
    background-image: url('assets/background-images/newyork-bg.webp'); 
}

#sleigh {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    z-index: 1000; /* Keeps it above everything */
    pointer-events: none; /* Allows clicking "through" the sleigh to buttons below */
}

/*glow animation*/
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #e60000, 0 0 20px #e60000 0 0 30px #e60000, 0 0 40px #e60000, 0 0 50px #e60000, 0 0 60px #e60000, 0 0 70px #e60000;
  }
  to {
    text-shadow: 0 0 20px #e60000, 0 0 30px #e60000, 0 0 40px #e60000, 0 0 50px #e60000, 0 0 60px #e60000, 0 0 70px #e60000, 0 0 80px #e60000;
  }
}